<div class="activitiesAssessments"><h4 class="heading"> Sequence Assessments and Add Activities </h4>
   	<div id="assessments" class="post-its">
   		<button onclick="addActivity()" class="addButtonTask">Add Task </button>
	</div>
</div>