<div class="evidenceStickies"> <h4 class="heading"> Apprentice Tasks </h4> 
	<div id="apprenticeTasks" class="post-its">
		<button onclick="addApprentice()" class="addButton">Add Task </button>	
	</div>
</div>