<div class="resourceButton">
<button type="button" class="btn" data-toggle="collapse" data-target="#novice">How to design novice tasks</button></div>
<div id="novice" class="collapse howTo">
	<div class="video">
	</div>
	<div class="checklist">
		<p>REMEMBER	   Recall, observe & recognize facts, principles & properties.</p>
		<p>UNDERSTAND	 Solve a one-step problem.<br/>
		 Represent relationships in words, pictures, or symbols.</p>
		<p>APPLY	Follow simple procedures. (recipe-style directions)<br/>
		 Apply a rule, algorithm, or formula.</p>
		<p>ANALYZE	  Retrieve information from a table/graph to answer a specific question.<br/>
		 Identify a pattern or trend.</p>
		<p>CREATE	Brainstorm ideas, concepts, or perspectives related to a topic.</p>
	</div>
	<div class="scholar"><p class="center">More Resources</p>
		<ul class="resourceList"><li><a href="https://ctl.utexas.edu/teaching/assessment/planning/methods" target="_blank" data-no-turbolink>Methods of Assessment by Center fo Teaching+Learning</a></li>
	</div>
</div>