<div class="resourceButton">
<button type="button" class="btn" data-toggle="collapse" data-target="#goals1">How to write Knowledge and Skills</button>
</div>
<div id="goals1" class="collapse howTo">
	<div class="checklist">
	<ol class="resourceList"><li>What will students be able to "do" by the end of the unit?</li></br>
	<li>What are the simple techniques as well as complex procedures, approaches, methods, and processes students will need to know?</li></br>
	<li>What are the facts and definitions that students will need to know?</li></br>
	<li>What are the inferred enabling skills (such as listening, public speaking, teamwork, etc) that students will need in order to accomplish the larger goals of the unit?</li></br>
	</div>
	<div class="video">
	<div class="scholar"></div>
	</div>
</div>