<div class="resourceButton">
	<button type="button" class="btn" data-toggle="collapse" data-target="#activities">Tips for Activities</button>
</div>
<div id="activities" class="collapse howTo">
	<div class="video">
	</div>
	<div class="checklist">
	</div>
	<div class="scholar"><p class="center">More Resources</p>
		<ul><li><a href="https://www.engageny.org/common-core-curriculum" target="_blank" data-no-turbolink>EngageNY's Common Core Curriculum</a></li>
	</div>
</div>