<div class="resourceButton">
<button type="button" class="btn" data-toggle="collapse" data-target="#evidence2">How to determine evidence for enduring understandings</button></div>
<div id="evidence2" class="collapse howTo">
	<div class="checklist">
	</div>
	<div class="video">
	</div>
	<div class="scholar"><p class="center">More Resources</p>
	<ul class="resourceList"><li><a href="http://www.nciea.org/publication_PDFs/cognitiverigorpaper_KH12.pdf" target="_blank" data-no-turbolink> Cognitive rigor matrix to analyze curriculum, plan lessons, and implement assessments 2009 © Hess, K., Carlock, D., Jones, B., & Walkup, J.</a></li></ul>
	</div>
</div>