<div class="resourceButton">
<button type="button" class="btn" data-toggle="collapse" data-target="#goals4">How to write a Big Idea</button>
</div>
  <div id="goals4" class="collapse howTo">	
	<div class="video">
		<iframe src="//player.vimeo.com/video/100863459" width="400px" height ="200px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  	</div>
	<div class="checklist">
		<ol class="resourceList2"><li>How can I make my Big Idea broad and abstract?</li><br/>
			<li>How is my Big Idea universal in application?</li><br/>
			<li>How do I envision my Big Idea being timeless, carrying through the ages?</li> <br/>
			<li>How does it represent different phenomena that share common attributes or patterns?</li> <br/>
			<li>How can I simply state it in 1 - 5 words using common and transferable vocabulary?</li> <br/>
		</ol>
	</div>
	<div class="scholar"><p class="center">More Resources</p>
		<ul class="resourceList"><li><a href="http://www.authenticeducation.org/ae_bigideas/article.lasso?artid=99" target="_blank" data-no-turbolink>What is a Big Idea? by Grant Wiggins</a></li>
		<li><a href="http://jaymctighe.com/wordpress/wp-content/uploads/2011/04/MATH-Big-Ideas_NCSM_Spr05v73p9-24.pdf" target="_blank" data-no-turbolink>Big Ideas and Understandings as the Foundation for Elementary and Middle School Mathematics. by Randall Charles</a></li>
		<li><a href="http://www.edutopia.org/blog/common-core-map-backwards-jay-mctighe-grant-wiggins" target="_blank" data-no-turbolink>Map Backward from Intended Results. by Jay McTighe and Grant Wiggins</a></li>
	</div>
</div>