<div class="resourceButton">
<button type="button" class="btn" data-toggle="collapse" data-target="#evidence1">How to determinine evidence for knowledge and skills</button>
</div>
<div id="evidence1" class="collapse howTo">
	<div class="video">
		<iframe src="//player.vimeo.com/video/101010969" width="400px" height ="200px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="checklist">
	</div>
	<div class="scholar"><p class="center">More Resources</p>
	<ul class="resourceList"><li><a href="http://www.nwea.org/blog/2012/have-my-students-learned-what-i-taught-today/" target="_blank" data-no-turbolink>Have My Students Learned What I Taught Today? by Kelly Goodrich</a></li>
		<li><a href="http://www.aps.edu/rda/documents/resources/Webbs_DOK_Guide.pdf" target="_blank" data-no-turbolink>Webb's Depth of Knowledge Guide by Mississippi Dept. of Education</a></li>
	</ul>
	</div>
</div>