<div class="resourceButton">
<button type="button" class="btn" data-toggle="collapse" data-target="#apprentice">How to design apprentice tasks</button></div>
<div id="apprentice" class="collapse howTo">
	<div class="video">
	</div>
	<div class="checklist">
	<p>UNDERSTAND	 Explain relationships. (non-examples, cause-effect, etc)<br/>
		Use models/diagrams to explain mathematical concepts.<br/>
		Use concepts to solve non-routine problems.<br/>
		Explain, generalize, or connect ideas using supporting evidence.</p>
	<p>APPLY	Translate between tables, graphs, words, and symbolic notations.<br/>
		Construct models given criteria.</br>
		Design and conduct an investigation for a specific purpose.</p>
	<p>ANALYZE	   Classify, order, or compare based on characteristics.</br>
		Draw conclusions from data, citing evidence.<br/>
		Determine similarities/differences between procedures or solutions.</p>
	<p>EVALUATE	   Verify reasonableness of results.</p>
	<p>CREATE	 Make and justify conjectures from data.</br>
		Develop a mathematical model for a complex situation.</p>
	</div>
	<div class="scholar">
	</div>
</div>