<div class="resourceButton">
	<button type="button" class="btn" data-toggle="collapse" data-target="#goals2">How to write Essential Questions</button>
</div>
<div id="goals2" class="collapse howTo">
	<div class="checklist">
		<ol class="resourceList"><li>What are the recurring issues throughout all our lives that my Essential Question brings to light?</li><br/>
		<li>What core inquiries in mathematics that are uncovered by it?</li><br/>
		<li>How does it help students effectively inquire and make sense of important and complicated ideas?</li><br/>
		<li>How will it engage a specific and diverse set of learners?</li><br/>
		<li>How does it elicit answers that can be debated in more than just a brief sentence?</li><br/></ol>
	</div>
	<div class="video">
		<iframe src="//player.vimeo.com/video/100863570" width="400px" height ="200px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="scholar"><p class="center"></p>
	</div>
</div>