<div class="resourceButton">
	<button type="button" class="btn" data-toggle="collapse" data-target="#goals3">How to write Enduring Understandings</button>
</div>
<div id="goals3" class="collapse howTo">	
	<div class="video">
		<iframe src="//player.vimeo.com/video/100863485" width="400px" height ="200px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="checklist">
		<ol class="resourceList"><li>How can I state my Enduring Understanding as a complete sentence (NOT phrases)?</li><br/>
			<li>What are the abstract and transferable ideas (NOT concrete facts) that it brings to light?</li><br/>
			<li>What debatable proposition (NOT definitive knowledge) is made in it?</li><br/> 
			<li>Does it require inquiry and investigation in order to be grasped?</li><br/>
			<li>Does it finish the sentence: "Students should understand that..."</li><br/> 
		</ol>
	</div>
	<div class="scholar"><p class="center">More Resources</p>
		<ul class="resourceList"><li><a href="http://galileo.org/designing-for-deep-math-understanding.pdf" target="_blank" data-no-turbolink>Designing for Deep Mathematical Understanding by Galileo Educational Network</a></li></ul>
	</div>
</div>