<div class="resourceButton">
<button type="button" class="btn" data-toggle="collapse" data-target="#expert">How to design expert tasks</button></div>
<div id="expert" class="collapse howTo">
	<div class="video">
	</div>
	<div class="checklist">
	<p>UNDERSTAND	Relate mathematical ideas to other concepts or content areas.<br/>
	 Develop generalizations and apply them to new problem situations.</p>
	<p>APPLY	Specify a problem, identify solution paths, solve the problem, and specify results.<br/>
	 Select or devise an approach among many alternatives to solve a problem.</p>
	<p>ANALYZE	 Use multiple sources of evidence to analyze complex themes.</p>
	<p>EVALUATE	  Analyze and evaluate relevency and accuracy. Justify conclusions.<br/>
	 Apply understanding in a novel way, provide an argument for the application.</p>
	<p>CREATE	Design a mathematical model to inform a practical or abstract situation.</p>
	</div>
	<div class="scholar"></div>
</div>