<div class="evidenceStickies"> <h4 class="heading"> Novice Tasks </h4> 
	<div id="noviceTasks" class="post-its">
		<button onclick="addNovice()" class="addButton">Add Task </button>  		
	</div>
</div>