h1 {
	font-family: PT Sans Narrow;
	text-align: center;
	font-weight: normal;
}

td.heading {
	text-align: center;
	font-weight: bold;
	border: 0px;
}


/*table {
  width: 100%;
}

td {
  border: 1px solid black;
  font-family: PT Sans Narrow;
  width: 50%;
  padding: 10px;
  margin-bottom: 20px
}*/


